<!DOCTYPE html>
<html lang="en" ng-app="calculatorApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculator</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
    <main class="main" ng-controller="calculatorController">
        <section class="section topbar">
            <div class="section__container">
                <div class="pageSwitcher">
                        <label class="pageSwitcher__label">
                        <input type="checkbox" class="pageSwitcher__checkbox" ng-model="showType" ng-click="checkboxClick()"/>
                        <span class="pageSwitcher__background"></span>
                        <span class="pageSwitcher__option">Calculator</span>
                        <span class="pageSwitcher__option">History</span>
                        </label>
                    </div>
            </div>
        </section>
        <section class="inputArea section" ng-class="{false: '', true: 'history'}[showType]">
            <div class="section__container">
                <div ng-cloak ng-switch="showType">
                    <div ng-switch-when="false" class="inputArea__valueContainer sectionShow" ng-cloak ng-model="mathString"><div class="inputArea__value">{{mathString}}</div></div>
                    <div ng-switch-when="true" class="sectionShow inputArea__historyContainer">
                        <div class="history__item" ng-repeat="history in histories" ng-click="historyRetrieve(history)">{{history}}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="buttonArea" ng-class="{false: '', true: 'buttonArea--out'}[showType]">
            <div class="section__container">
                <div class="buttonArea__container">
                    <button ng-cloak ng-repeat="obj in _buttons" class="button {{obj.class}}" ng-click="buttonClick(obj)">{{obj.value}}</button>
				</div>
            </div>
        </section>
    </main>
    <script src="js/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.7.8/angular-animate.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>